* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* NavBar Start*/
.navbar {
  padding: 40px;
  background-color: #141010;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.nav-item {
  font-size: 13px;
}

.img-fluid {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#services {
  background-image: url("src/LR.webp");
  background-size: cover;
  margin-top: -190px;
  padding-top: 320px;
  padding-bottom: 10px;
  color: white;
}
/* NavBar End*/

/* SearchBar Start*/
.search-container {
  background-color: #b3a795;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -10px;
  padding-left: 200px;
  overflow-x: hidden;
}
.bi {
  position: relative;
  top: 50px;
  left: 150px;
  width: 30px;
}
.form-control-lg {
  background-color: #b3a795;
  color: black;
}

/* SearchBar End*/

/* Marketing Plan Start*/

/* Marketing Plan End*/
